@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #05090a;
  color: white;
  font-family: "Roboto", sans-serif;
}

nav {
  width: 100vw;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4px;
}

nav div {
  padding: 0 16px;
}

#logo {
  height: 32px;
}

h1 {
  font-size: 3em;
  font-weight: 700;
}

#home img {
  height: 32px;
  padding: 4px;
}
#landing-container {
  display: flex;
  flex-direction: row;
  margin-top: 160px;
  align-items: center;
}

#hero-image {
  width: 320px;
  margin-right: 32px;
  border-radius: 15px;
}

.landing-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 560px;
}

.landing-body p {
  max-width: 480px;
  line-height: 1.5em;
}

.button {
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-top: 32px;
  cursor: pointer;
}

p {
  font-weight: 400;
  color: rgb(151, 151, 151);
}

#upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
}

#selected-image {
  max-width: 480px;
  margin: 32px;
  border-radius: 15px;
}

#label-container {
  line-height: 1.5em;
}
